body {
	background-color: #222224;
}
.App {
	background-color: gray;
	text-align: center;
	transform: translateY(100%);

	.symbol {
		cursor: pointer;
		transition: transform 0.3s;
		font-size: 20px;
		flex-flow: row;
		margin: 20px;
		padding: 7px;
		border-radius: 8px;
	}
	.symbol:hover {
		transform: scale(1.2);
	}
}

h1 {
	font-size: 60px;
}
h2 {
	color: rgba(0, 0, 0, 0.5);
	font-size: 30px;
}
